body {
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.grid {
  display: grid;
  max-width: 80vw;
  max-height: 75vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 2rem;
}

.testimonial-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
}

.profile img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  float: left;
}

.profile-text {
  float: left;
  margin-left: 1rem;
}

.profile-text > h3 {
  font-size: 13px;
  margin: 0px;
  opacity: 90%;
}

.profile-text > p {
  font-size: 10px;
  margin-top: 0px;
  opacity: 50%;
}

.testimonial-header > h1 {
  font-size: 17px;
  font-weight: 600;
  opacity: 90%;
  margin: 0;
}

.testimonial-description > p {
  font-size: 13px;
  font-weight: 500;
  opacity: 50%;
}

.daniel {
  background-color: hsl(263, 55%, 52%);
  grid-column: span 2;
  color: hsl(0, 0%, 100%);
}

.jonathan {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}

.kira {
  background-color: hsl(0, 0%, 100%);
  grid-row: span 2;
  color: hsl(217, 19%, 35%);
}

.jeanette {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

.patrick {
  background-color: hsl(219, 29%, 14%);
  grid-column: span 2;
  color: hsl(0, 0%, 100%);
}


@media screen and (max-width: 375px) {
  .grid {
    display: flex;
    flex-direction: row;
  }
}










.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
